@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-color: #DCECFE;
  font-family: 'Raleway', sans-serif;
}

.headerRow {
  text-align: center;
  padding-bottom: 30px;
}

.getStartedRow {
  text-align: center;
}

.App h1 {
  font-size: 5.5rem;
  padding-top: 30px;
  padding-bottom: 15px;
}

.App h4 {
  font-size: 2rem;
  color: grey;
}
