@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-color: #DCECFE;
  font-family: 'Raleway', sans-serif;
}

.App {}

.headerRow {
  text-align: center;
  padding-bottom: 30px;
}

.getStartedRow {
  text-align: center;
}
