.bot-card-wrapper {
  padding: 20px;
}

.bot-card {
  box-shadow: 1px 1px 2px 2px #B0BCCB;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.bot-card > img {
  width: 200px;
}

.address {
  word-wrap: break-word;
  padding-bottom: 10px;
}

.bot-row {
  text-align: center;
}

.bot-id {
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.price {}
